/* Estilos personalizados para el LoginForm */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; /* Fondo claro para toda la pantalla */
}

.form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #495057;
}

.form label {
  font-weight: 500;
  color: #495057;
}

.form .form-control {
  border-radius: 5px;
  margin-bottom: 15px;
}

.form .btn {
  width: 100%;
  border-radius: 5px;
}
